@use "./scss/" as *;
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:,wght@300;400;500;600;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 100%;

  @include tablet {
    font-size: 80%;
  }
  @include mobile {
    font-size: 60%;
  }
}

body {
  font-family: $font-family;
  font-weight: 400;
  line-height: 1.5;

  background-color: $body-bg;
  color: $txt-color;

  @include mobile {
    margin-bottom: 3rem;
  }
}

a {
  text-decoration: none;
  color: unset;
}

@media (hover: hover) {
  a:hover {
    color: $main-color;
  }
}

button,
input {
  outline: none;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}

iframe {
  border: 0;
}

.container {
  max-width: 1320px;
  margin: auto;
  @include mobile {
    padding: 0 20px;
  }
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.section {
  padding: 0 2rem;
}

.seaction_header {
  @include flex(center, space-between);
}
.slide-item_card {
  position: relative;
  margin: 10px 0;

  .slide-item-img {
    position: relative;
    width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    overflow: hidden;

    .background-img {
      width: 100%;
      height: auto;
      display: block;
      border-radius: 0.5rem;
    }
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5); // Adjust the opacity as needed
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      transition: opacity 0.3s ease;
      border-radius: 0.5rem;
    }

    &:hover .overlay {
      opacity: 1;
    }

    .play-button {
      cursor: pointer;
      width: 30px; // Adjust the size as needed
      height: 30px; // Adjust the size as needed
    }
  }
  h3 {
    width: 100%;
    margin-top: 15px;
    font-size: 1rem;
  }
}
.swiper-button-next,
.swiper-button-prev {
  color: #fff;
  height: 100%;
  width: 50px;
  top: 0;
  transition: background 0.3s;

  &.swiper-button-disabled {
    opacity: 0.2;
  }

  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size: 2rem !important;
    font-weight: 600;
  }
}
