$body-bg: #18181b;
$main-color: #ea580c; //orange-600
$secondary-color: #78716c;
$txt-color: #fefefe;

$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

$header-height: 4rem;
$header-shrink-height: 3rem;
$border-radius: 30px;

$mobile-width: 600px;
$tablet-width: 1024px;

$font-family: "DM Sans", sans-serif;
